header{
    background-image: linear-gradient(to left, #011329, #2e83d8);
}

.navbar-text{
    font-size: 30px;
    font-weight:bold;
    color:white;
}

#boxContainers{
    margin-top: 50px;
}

.searchColumn{
    margin-top: 3px;
}

#cityName{
    margin-top:15px;
    margin-bottom: 20px;
}

#searchButton{
    margin-bottom:25px;
}

#clearStorage{
    margin-bottom: 20px;
}

#pastSearchBox{
    border-top: 4px solid #2e83d8;
    padding-top:10px;
}

.newButtons{
    margin-top:20px;
}

#descriptionBox{
    border: 4px solid #2e83d8;
}


#forcastBox{
    padding:0;
    margin:0;
    justify-content:space-between;
}

#forcastTitle{
    color:#011329;
    margin-top:15px;
    margin-bottom:20px;
    font-size:30px;
    text-decoration:underline;
}

.card-header{
    font-size:20px;
    text-align:center;
}


.card-text{
    font-size:15px;
    text-align:start;
}
