header{
    background-image: linear-gradient(to right, #034694, #007FFF);
}

.navbar-text{
    font-size: 30px;
    font-weight:bold;
    color:white;
}

#boxContainers{
    margin-top: 10px;
}

.searchColumn{
    padding-left: 4%;
    margin-top: 3px;

}

#cityName{
    margin-top:15px;
    margin-bottom: 20px;
}

#searchButton{
    margin-bottom:25px;
}

#pastSearchBox{
    border-top: 3px solid black;
    padding-top:5px;
}

.newButtons{
    margin-top:10px;
}

#descriptionBox{
    border: 2px solid black;
}

