header{
    color:white;
    background-image: linear-gradient(to right, #034694, #007FFF);
    height: 100px;  
}

header div{
    position:relative;
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    margin:0;
    top:25px;
}

#cityName{
    margin-top:10px;
    margin-bottom: 10px;
}

#searchButton{
    margin-bottom:20px;
}

#pastSearchBox{
    border-top: 3px solid black;
}

